body {
    margin: 0;
    padding: 0;
    font-family:"Poppins", sans-serif;;
    font-size: 16px;
}

.focus-container {
    display: flex;   
}

.focus-items {
    padding-top: 10%;  
}

.focus-title-black {
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    color: #333333;
    font-size: 45px;
    padding-left: 10px;
    display: inline-block;
    border-left: 4px solid;
    border-image: linear-gradient(#FF5959,#FF5959);
    border-image-slice: 1;
    margin: 5px;
}

.focus-title-colored {
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    color:#FFAD5A;
    font-size: 40px;  
}

.focus-image img {
    width: 100%;   
}

.flex-container {
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;  
}

.focus-text {
    font-size: 18px;
}

.btn-link {
    background-color: #FF5959;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.objective-heading {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.objective-year {
    color: #FFAD5A;
}

.objective-lists {
    display: flex;
    width: 80%;
    padding-left: 10%;
    justify-content: space-between;
    margin-bottom: 100px;
}

.objective-item {
    width: 300px;
    padding: 20px;
    border-radius: 20px;  
}

.illustrator {
    width: 40%;
}

#illustrator-mission {
    background-color: rgba(79, 157, 166,.1);
}

#illustrator-vision{
    background-color:rgba(255, 89, 89, .1);
}

#illustrator-goals {
    background-color: rgb(255, 244, 214);
}

.without-limits-container {
    display: flex;
    background-image: url(images/shapes/shape-1.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: 40px 70px;
    margin-bottom: 100px;
}

.limits-image {
    padding-right: 50px;
}

.limits-image img {
    width: 90%;
}

.limits-items {
    padding-left: 10px;
    padding-top: 20px;   
}

.limit-title {
    font-size: 35px;
    font-weight: 700;
}

.btn-link-large {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: #FF5959;
    border: none;
    color: #fff;
    padding: 15px 25px;
    border-radius: 5px;   
}

.global-community-container {
    display: flex;  
    margin-bottom: 60px;
}

.global-image  img {
    width: 100%;
}

.global-items {
    padding-right: 10px;
    padding-top: 20px;
}

.global-title {
    font-size: 35px;
    font-weight: 700;
}

.inspiration-title {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.quote {
    color: #FFAD5A;
}

.quote-conatainer {
	font-family: "Roboto", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	padding-bottom:50px ;
}
   
img {
	max-width: 100%;
}

.card {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	overflow: hidden;
	width: 350px;
}

.card-header {
	height: 200px;
}

.card-header img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.card-content {
	background-color: #fff;
	padding: 30px;
}

.card-excerpt {
	color: #777;
	margin: 10px 0 20px;
}

.author {
	display: flex;
}

.profile-img {
	border-radius: 50%;
	overflow: hidden;
	height: 40px;
	width: 40px;
}

.author-info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-left: 10px;
	width: 150px;
}

.author-info small {
	color: #aaa;
	margin-top: 5px;
}

.inspiration-btn {
    text-align: center;
    padding-bottom: 50px;
}

footer {
    background-color: #0B0D17;
    text-align: center;
    padding: 20px;
}

.footer-title {
    font-family: 'Lobster', cursive;
    color: #fff;
    font-weight: 400;
}

.footer-year {
    color: #FF5959;
}

.footer-details {
    font-family: 'Manrope', sans-serif;
    color: #D9DBE1;
}
