body {
    margin: 0;
    padding: 0;
    font-family:"Poppins", sans-serif;;
    font-size: 16px;
}

.focus-container {
    display: flex;   
}

.focus-items {
    padding-top: 10%;
    
}

.focus-title-black {
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    color: #333333;
    font-size: 45px;
    padding-left: 10px;
    display: inline-block;
    border-left: 4px solid;
    border-image: linear-gradient(#FF5959,#FF5959);
    border-image-slice: 1;
}

.focus-title-colored {
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    color:#FFAD5A;
    font-size: 40px;  
}



.focus-image img {
    width: 100%;
    
}

.flex-container {
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
   
}

.focus-text {
    font-size: 18px;
}

.btn-link {
    background-color: #FF5959;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.objective-heading {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.objective-year {
    color: #FFAD5A;
}

.objective-lists {
    display: flex;
    width: 80%;
    padding-left: 10%;
    justify-content: space-between;
    margin-bottom: 100px;
}

.objective-item {
    width: 300px;
    padding: 20px;
    border-radius: 20px;  
}

.illustrator {
    width: 40%;
}

#illustrator-mission {
    background-color: rgb(79, 157, 166, .1);
}

#illustrator-vision{
    background-color:rgb(255, 89, 89, .1);
}

#illustrator-goals {
    background-color: rgb(255, 244, 214);
}

.without-limits-container {
    display: flex;
    background-image: url(images/shapes/shape-1.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: 40px 70px;
    margin-bottom: 100px;
}

.limits-image {
    padding-right: 50px;
}

.limits-image img {
    width: 90%;
}

.limits-items {
    padding-left: 10px;
    padding-top: 20px;
    
}

.limit-title {
    font-size: 35px;
    font-weight: 700;
}

.btn-link-large {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: #FF5959;
    border: none;
    color: #fff;
    padding: 15px 25px;
    border-radius: 5px;
    
}

.global-community-container {
    display: flex;
    background-image: url(images/shapes/shape-1.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position:  right 10px bottom -120px;
}



.global-image  img {
    width: 100%;

}

.global-items {
    padding-right: 10px;
    padding-top: 20px;
  
}

.global-title {
    font-size: 35px;
    font-weight: 700;
}

